.classCard{
    height:500px;
}

.classBody{
    background-color: #eeae0c;
    height:50px;
    padding-top:10px;
    padding-bottom:10px;
    position:relative;
    top:450px;
}

.cardLink{
    text-decoration:none;
    color:black;
}