.aboutUs{
    padding-left:100px;
    padding-right:100px;
    height:500px;
    margin-bottom:100px;
}

.aboutUsPhotoSize{
    height:500px;
    /* width:80%; */
}

/* .aboutus__photo{
    display:flex;
    flex-direction: column;
    flex:0.41;
}

.aboutus__text{
    display:flex;
    flex-direction: column;
    flex:0.59;
} */